page-world {

    padding: 0px;
    margin: 0px;
    
    .btn{  
        color:  #488aff;
        background-color: white;
        }

        .Headlines{
            padding: 0px;
        }

    .header{
        margin-left: -10px ;
    } 
}
