page-display {

    .button{
        align-items: center;
        text-align: center;
    }

    .Headlines{
        text-align: center
    }

    .Headlines:hover{
        background-color: aliceblue;
    }
}
