page-display {
    text-align: center;
    align-items: center;

    .Headlines{
        align-items: center;
        text-align: center;
    }

    .Headlines:hover{
        background-color: aliceblue;
    }
}
