page-home {

    .headings{
        font-size: 16px bold black;
    }

    

    .clearfix{
        width: 100%;
    }

    .img{
        padding: 4px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .Headlines{
       

    }
    
    .Headlines:hover{

    background-color: aliceblue;
    }    

}
