page-home {

    .headings{
        font-size: 24px bold black;
    }

    .Headlines{
        text-align: center;
    }

    .Headlines:hover{
        background-color: aliceblue;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

}
